@import "../Shared/Shared.module.scss";
@import "../Image/Selected.module.scss";

.onlineField {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  margin-bottom: 12px;
}

.onlineFieldSubtext {
  color: $gray;
  font-size: 12px;
  margin-top: 6px;
}
