@import "../Shared/colors.scss";

.totalsContainer {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 32px);
  margin: auto;
  padding-top: 10px;
}

.likeChip {
  background-color: $blurple;
  border-radius: 50%;
  width: 22.5px;
  height: 22.5px;
  display: inline-block;
  margin-right: 7.5px;
}

.totalCommentsLink:hover {
  text-decoration: underline;
}
