@import "../Shared/colors.scss";

.field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  cursor: pointer;
}

.label {
  color: $lightGray;
  margin-top: 2px;
}

.colorPickerWrapper {
  margin-bottom: 36px;
}

.color {
  display: flex;
  color: $lightGray;
}

.colorSquare {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  border-radius: 5px;
}

.colorHex {
  margin-top: 2px;
  margin-right: 12px;
}

.pickPrompt {
  color: white;
  margin-bottom: 12px;
}
