.MuiPickersModal-dialogRoot.MuiDialog-paper,
.MuiPickersCalendarHeader-iconButton {
  background-color: $cardGray !important;
}

.MuiPickersModal-dialogRoot .MuiButton-root {
  border-radius: 8px;
}

.MuiPickersCalendarHeader-iconButton .MuiIconButton-label,
.MuiPickersDay-daySelected .MuiIconButton-label {
  color: white !important;
}

.MuiPickersToolbar-toolbar,
.MuiPickerDTTabs-tabs {
  background-color: $blurple !important;
}

.MuiPickersCalendarHeader-transitionContainer .MuiTypography-root,
.MuiPickersDay-day {
  color: $typographyGray !important;
}

.MuiPickersDay-daySelected {
  background-color: $blurple !important;
}

.MuiPickersCalendarHeader-dayLabel {
  color: $gray !important;
}

.MuiPickersClockPointer-thumb {
  border-color: $blurple !important;
  background-color: white !important;
}

.MuiPickersClock-pin,
.MuiPickersClockPointer-pointer,
.MuiPickersClockPointer-noPoint {
  background-color: $blurple !important;
}

.MuiPickersClockNumber-clockNumber {
  color: $typographyGray !important;
}

.MuiPickersClockNumber-clockNumberSelected {
  color: white !important;
}

.MuiPickersToolbarText-toolbarTxt.MuiTypography-h3 {
  margin-bottom: 0;
}
