@import "./colors.scss";

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("woff");
}

@font-face {
  font-family: "Inter Bold";
  src: url("/fonts/Inter-SemiBold.woff2") format("woff");
}

@font-face {
  font-family: "Inter Extra Bold";
  src: url("/fonts/Inter-ExtraBold.woff") format("woff");
}

body {
  background: $darkGray;
  color: $lightGray;
  font-family: "Inter", monospace;
  overflow: overlay;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background: black;
  color: white;
}
::selection {
  background: black;
  color: white;
}

*:focus {
  outline: none !important;
}

// TODO: This should be moved to Shared/theme.ts
.MuiNativeSelect-select:not([multiple]) option {
  background-color: $darkGray !important;
  font-family: Helvetica !important;
}
