@import "./colors.scss";
@import "./DateTimePicker.scss";

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("woff");
}

@font-face {
  font-family: "Inter Bold";
  src: url("/fonts/Inter-SemiBold.woff2") format("woff");
}

@font-face {
  font-family: "Inter Extra Bold";
  src: url("/fonts/Inter-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Inter Light";
  src: url("/fonts/Inter-Light.woff2") format("woff");
}

body {
  background: $darkGray;
  color: $lightGray;
  font-family: "Inter";
  overflow: overlay;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background: black;
  color: white;
}
::selection {
  background: black;
  color: white;
}

*:focus {
  outline: none !important;
}
