@import "../Shared/Shared.module.scss";

.search {
  width: auto;
  position: relative;
  margin-left: 24px;
  margin-right: 16px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
}

.searchIcon {
  height: 100%;
  display: flex;
  padding: 0px 16px;
  position: absolute;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  color: $gray;
}

.searchIconFocused {
  color: white;
}
