@import "../Shared/colors.scss";

$desktopBreakpoint: 850px;
$desktopLargeBreakpoint: 1650px;

.brand {
  font-family: "Inter Extra Bold";
  letter-spacing: 0.6px;
  color: white;
  cursor: pointer;
}

.form {
  width: 100%;
  margin-bottom: 12px;
}

.timeAgo {
  color: $lightGray;
  font-size: 13px;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
