server {
    listen 80;
    listen [::]:80;
    server_name p.raxis.xyz;

    location / {
        proxy_set_header Host $http_host;
        proxy_pass http://localhost:3093;
    }

    location ^~ /uploads/ {
      alias /home/node/praxis/public/uploads/;
      sendfile on;
    }

    include /etc/nginx/snippets/letsencrypt.conf;

    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/p.raxis.xyz/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/p.raxis.xyz/privkey.pem;

    if ($scheme != "https") {
        return 301 https://$host$request_uri;
    }

    if ($host = $server_addr) {
        return 301 https://p.raxis.xyz$request_uri;
    } # to fix redirection from IP
}