@import "../App/App.module.scss";

.follow {
  display: flex;
  justify-content: space-between;
  margin: 12px;
}

.userName {
  margin-top: 10px;
  margin-left: 12px;
  color: white;
}

.avatar {
  margin-top: 3px;
}

.link {
  display: flex;
}
