@import "../Shared/Shared.module.scss";

.setting {
  margin: 12px 0;
  color: $lightGray;
}

.name {
  white-space: nowrap;
  margin-bottom: 6px;
}

.description {
  font-family: "Inter Light";
  font-size: 12px;
  margin-bottom: 12px;
}

.inputWrapper {
  display: flex;
  justify-content: flex-end;
}

.ratificationThresholdInputs {
  width: 250px;
  display: flex;
}

.slider {
  margin-right: 18px;
}

.percentageSign {
  color: $lightGray;
  margin-top: 10px;
}

.flexEnd {
  @extend .flexEnd;
  margin-top: 12px;
}

@media only screen and (min-width: $desktopBreakpoint) {
  .setting {
    display: flex;
    justify-content: space-between;
  }
  .description {
    max-width: 350px;
  }
  .ratificationThresholdInputs {
    width: 180px;
  }
  .slider {
    margin-top: 18px;
  }
  .percentageSign {
    margin-top: 22px;
  }
}
