@import "../Shared/Shared.module.scss";

.setting {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
  color: $lightGray;
}

.settingName {
  white-space: nowrap;
}

.flexEnd {
  @extend .flexEnd;
  margin-top: 12px;
}
