@import "../Shared/colors.scss";
@import "../Shared/Shared.module.scss";

.avatar {
  display: flex;
  color: white;
}

.avatarLinks {
  display: flex;
}

.avatarSmall {
  $shrinkScale: 0.55;
  $distX: -55px;
  $distY: 10px;
  -webkit-transform: scale($shrinkScale) translate($distX, $distY);
  -moz-transform: scale($shrinkScale) translate($distX, $distY);
  -ms-transform: scale($shrinkScale) translate($distX, $distY);
  transform: scale($shrinkScale) translate($distX, $distY);
  border: 4px solid $cardGray;
  border-radius: 50%;
}

.groupPostLinks {
  margin-left: -32px;
  margin-top: 4px;
}

.groupNameLink {
  font-size: 15px;
  display: block;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.postByLink {
  display: block;
  font-size: 13px;
  color: $lightGray;
  margin-top: 1px;
}

@media only screen and (min-width: $desktopBreakpoint) {
  .groupNameLink {
    max-width: 375px;
  }
}
