@import "../Shared/Shared.module.scss";

.member {
  display: flex;
  justify-content: space-between;
  margin: 12px;
}

.userName {
  margin-top: 7px;
  margin-left: 12px;
  color: white;
}

.link {
  display: flex;
  margin-top: 4px;
}
