@import "../Common/Common.module.scss";

.imageInput {
  @extend .imageInput;
  height: 0;
}

.attachImage {
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 6px;
  display: flex;
}

.attachImageText {
  margin-top: 6.5px;
}

.imageInputIcon {
  margin-top: 5px;
  margin-left: -2px;
  margin-right: 6px;
  color: white;
}
