$darkGray: rgb(50, 50, 50);
$lightGray: rgb(200, 200, 200);

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.var.woff2") format("woff2");
}

@font-face {
  font-family: "Microgramma";
  src: url("/fonts/Microgramma.ttf");
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}

body {
  background: $darkGray;
  color: $lightGray;
  font-family: "Inter";
}
