@import "../Common/Common.module.scss";

.vote {
  @extend .card;
  display: flex;
  margin-bottom: 0;
}

.avatar {
  margin-right: 12px;
}

.voteTypeLabel {
  font-size: 13px;
  color: $lightGray;
}
