@import "../Common/Common.module.scss";
@import "../Common/colors.scss";

.vote {
  @extend .card;
  display: flex;
  margin-bottom: 0;
}

.avatar {
  margin-right: 12px;
}

.voteTypeText {
  font-size: 13px;
  color: $lightGray;
}
