.voter {
  display: flex;
  margin-bottom: 12px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.voterCompact {
  @extend .truncate;
  max-width: 470px;
}

.voterName {
  color: white;
}

.voteBody {
  color: #dee4f6;
}

.divider:nth-last-child(1) {
  display: none;
}
