@import "../Shared/Shared.module.scss";

.topNav {
  position: fixed;
  top: -100px;
  z-index: 5;
  width: 100%;
  background-color: $appBarGray;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  padding: 5px 22px;
}

.topNavOpen {
  top: 0;
}

.brand {
  @extend .brand;
  font-size: 20px;
  margin-top: 10px;
}
