@import "../Shared/Shared.module.scss";

.appBar {
  display: flex;
}

.appBarBrand {
  @extend .brand;
  font-size: 25px;
  margin-left: 200px;
  margin-top: -3px;
}

.appBarButtons {
  display: flex;
  justify-content: flex-end;
  margin-left: 40px;
  width: 100%;
  padding-right: 200px;
}

@media only screen and (max-width: $desktopLargeBreakpoint) {
  .appBarBrand {
    margin-left: 100px;
  }
  .appBarButtons {
    padding-right: 100px;
  }
}
