.selectedImages {
  display: flex;
  margin-top: 6px;
  margin-bottom: 12px;
}

.selectedImage {
  width: 200px;
  margin-right: -4px;
}

.removeSelectedImageButton {
  position: relative;
  right: 8px;
  bottom: 14px;
  cursor: pointer;
}
