$responsiveBreakpoint: 600px;
$desktopBreakpoint: 950px;

.card {
  width: 100%;
  margin-bottom: 12px;
}

.imageInput {
  visibility: hidden;
}

.imageInputIcon {
  margin-top: -35px;
  margin-left: -4px;
  margin-bottom: 10px;
  color: white;
}

.selectedImages {
  display: flex;
  margin-bottom: 12px;
}

.selectedImage {
  width: 200px;
  margin-right: -4px;
}

.removeSelectedImageButton {
  position: relative;
  right: 8px;
  bottom: 14px;
  cursor: pointer;
}

// Stops blue selection for tapping of links in mobile
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

// desktop
@media only screen and (min-width: $desktopBreakpoint) {
  .card {
    width: 525px;
  }
}
