@import "../App/App.module.scss";
@import "../App/colors.scss";

// top, right, bottom, left

.navbar {
  background: $navbarGray;
  padding: 23px 22px;
  margin-bottom: 40px;
  display: flex;
}

.navbarBrand {
  font-size: 20px;
  font-family: "Inter Extra Bold";
  letter-spacing: 0.6px;
  color: white;
  cursor: pointer;
}

.navbarItems {
  display: flex;
  margin-left: 40px;
  margin-top: 2.5px;
  visibility: hidden;
  height: 0;
}

.navbarItemsShow {
  visibility: visible;
  height: initial;
  display: initial;
  margin-top: 70px;
  margin-left: -57px;
}

.navbarItem {
  margin-bottom: 11px;
}

.navbarItemText {
  color: $gray;
  font-size: 18px;
  cursor: pointer;
}

.menuButton {
  @extend .noSelect;
  visibility: visible;
  position: absolute;
  top: 22px;
  right: 20px;
  color: $gray;
}

.menuButtonTouchTarget {
  @extend .noSelect;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
}

// desktop
@media only screen and (min-width: $desktopBreakpoint) {
  .navbar {
    padding: 18px 32px;
    margin-bottom: 75px;
  }

  .navbarItem {
    margin-right: 16px;
  }

  .navbarItems {
    display: flex;
    margin-left: 40px;
    visibility: visible;
  }

  .navbarItemText {
    font-size: initial;
  }

  .menuButton {
    visibility: hidden;
  }

  .menuButtonTouchTarget {
    cursor: initial;
    width: 0;
    height: 0;
  }
}
