@import "../Common/Common.module.scss";

.button {
  display: flex;
  justify-content: space-between;
}

.buttonWrapper {
  @extend .button;
}

.buttonText {
  color: white;
  margin-top: 2px;
}

.buttonCard {
  @extend .card;
  padding: 12px 0;
  cursor: pointer;
}

.addCircleIcon {
  color: white;
  margin-right: 10px;
  margin-left: 12px;
}

.arrowIcon {
  color: white;
  margin-right: 24px;
  margin-top: 2px;
}
