@import "../Shared/Shared.module.scss";

.role {
  display: flex;
  justify-content: space-between;
  margin: 12px;
}

.info {
  margin-left: 12px;
}

.name {
  color: white;
}

.members {
  font-size: 12px;
  color: rgb(170, 170, 170);
}

.icon {
  margin-bottom: -4px;
  margin-right: 2px;
}

.link {
  display: flex;
  margin-top: 4px;
}

.tabsCard {
  margin-bottom: 48px !important;
}

.permission {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.permissionName {
  margin-bottom: 6px;
}

.permissionDescription {
  font-size: 12px;
  color: $gray;
}

.deleteButton {
  @extend .form;
}
