@import "../Shared/Shared.module.scss";

.invite {
  display: flex;
  justify-content: space-between;
  margin: 12px;
}

.link {
  display: flex;
}

.userAvatar {
  display: none;
}

.userName {
  color: $lightGray;
}

.flexEnd {
  @extend .flexEnd;
  margin-top: 24px;
}

// desktop
@media only screen and (min-width: $desktopBreakpoint) {
  .userAvatar {
    display: initial;
    margin-top: 5px;
  }
  .userName {
    margin-top: 9px;
    margin-left: 12px;
  }
}
