@import "../Shared/Shared.module.scss";

.invite {
  display: flex;
  justify-content: space-between;
  margin: 12px;
}

.link {
  display: flex;
}

.userName {
  color: $lightGray;
  margin-left: 12px;
}

.flexEnd {
  @extend .flexEnd;
  margin-top: 24px;
}
